@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');


/* variables */


:root {
  --clr-primary: #7380ec;
  --clr-button: #007bff;
  --clr-buton-hover: #0056b3;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body{
   width: 100vw;
   height: 100vh;
   font-size: .7rem;
   user-select: none;
   overflow-x: hidden;
   background: var(--clr-color-background);
   font-family: 'Poppins', sans-serif;
}

.container  {
  display: grid;
  width: 100%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 16rem;
  margin: 0 auto;
}

a, button{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 2.8rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 0.87;
}
h4{
  font-weight: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
}
.profile-photo img{
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border-radius: 50%;
}
.text-muted{
  color: var(--clr-info-dark);
}
p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-danger);
}

.warning {
  color: var(--clr-warnig);
}


/* aside */
 aside{
  height: 100vh;
 }

 aside .logo{
   display: flex;
   gap: 1rem;
 }
 aside .logo img{
   width: 2rem;
   height: 2rem;
 }
 aside .top div.close span{
   display: none;
 }

 /* ===================
 Sidebar
 ================== */

 aside{
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
 }
 aside .top{
  padding: 1.5rem;
 }

 aside h3{
  font-weight: 500;
 }

 aside .sidebar a, aside .sidebar button{
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
 
 }

 aside .sidebar button{background-color: var(--clr-white);}

 aside .sidebar a span, aside .sidebar button span{
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  
 }

 aside .sidebar button:last-child{
  position: absolute;
  bottom: 1rem; 
 }

 aside .sidebar a.active, aside .sidebar button:active{
   background-color: var(--clr-light);
   color: #226cda;
   margin-left: 0;
   border-left: 5px solid #226cda;
   margin-left: calc(1rem - 3px);
 }
 aside .sidebar a:hover span,  aside .sidebar button:hover span{
  margin-left: 1rem;
 }


 /* ----------------------------
 --------- Main--------------
 ------------------------------ */

 main{
  margin-top: 1.4rem;
  width: auto;
  
 }
 main input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--clr-dark);
 }


main .insights{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 1.6rem;
}
main .insights>div{
   background-color: var(--clr-white);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 1rem;
   box-shadow: var(--box-shadow);
   transition: all .3s ease;
}

main .insights > div:hover{
  box-shadow: none;
}
main .insights>div  span{
   background:#226cda;
    padding: 0.5rem;
     border-radius: 50%;
     color: var(--clr-white);
     font-size: 2rem; 
  }

main .insights > div.expenses span{
   background: #226cda;;
}
main .insights > div.income span{
  background: #226cda;;
}

main .insights > div .middle{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
main .insights > div .middle h1{
  font-size: 1.6rem;
}

main h1{
  color: var(--clr-dark);
}
main .insights h1{
  color: var(--clr-dark);
}
main .insights h3{
  color: var(--clr-dark);
}
main .insights p{
  color: var(--clr-dark);
}
main .insights h3{
  
    color: var(--clr-dark);
  
  
}

/* recent order */

main .recent_order{
   margin-top: 2rem;
}

main .recent_order h2{
    color: var(--clr-dark);
}

main .recent_order h2{
  margin-bottom: 0.8rem;
}
main .recent_order table{
  background: var(--clr-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
  color: var(--clr-dark);
}
main .recent_order table:hover{
  box-shadow: none;
}

main table tbody td{
   height: 3.8rem;
   border-bottom: 1px solid var(--clr-white);
   color:var(--clr-dark-variant)
}
main table tbody tr:last-child td{
   border: none;
}


main .recent_order a{
  text-align: center;
  display: block;
  margin: 1rem;
}


/*********************
Right Side
**********************/

.right{
  margin-top: 1.4rem;
}
.right h2{
  color: var(--clr-dark);
}
.right .top{
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.right .top button{
  display: none;
}

.right .theme-toggler{
  background: var(--clr-white);
  display: flex;
  justify-content: space-between;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active{
  background: var(--clr-primary);
  color: #fff;
}


.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}
.right  .info h3{
  color: var(--clr-dark);
}
.right  .item h3{
  color: var(--clr-dark);
}

/* **********8
MEDIA QUERY
****************/

@media screen and (max-width:1200px) {
    .container{
      width: 94%;
      grid-template-columns: 7rem auto 14rem;
    }
    aside .sidebar h3{
      display: none;
    }
    aside .sidebar a{
      width: 5.6rem;
    }
    aside .sidebar a:last-child{
      position: relative;
      margin-top: 1.8rem;
    }
    main .insights{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
}

/* ****************
MEDIA QUERY PHONE
************************/

@media screen and (max-width:768px) {
  .container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  
  }
  
  aside{
    position: fixed;
    width: 18rem;
    z-index: 3;
    height: 100vh;
    background-color: var(--clr-white);
    display: none;
    left: -110px;
    animation:  menuLeft .3s ease forwards;
  }
  
  @keyframes menuLeft {
      to{
        left: 0;
      }
  }
  



  aside .logo h2{
       display: inline;
  }
  aside .sidebar h3{
    display: inline;
  }
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }
  aside .top div.close  span{
     display: inline;
     position: absolute;
     right: 0;
     margin-right:30px;
     font-size: 35px;
     cursor: pointer;
  }

    .right .top{
       position: fixed;
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 0 0.8rem;
       background: var(--clr-white);
       height: 4.6rem;
       width: 100%;
       z-index: 2;
       box-shadow: 0 1rem 1rem var(--clr-light);
       margin: 0;
    }


 main .insights{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1.6rem;
  padding: 40px;
 }
 main .recent_order{
  padding: 30px;
  margin: 0 auto;
 }



  .right .profile{
    position: absolute;
    left: 70%;
  }

  .right .top .theme-toggler{
    width: 4.4rem;
    position: absolute;
    left: 50%;
  }
   .right .profile .info{
    display: none;
   }

   .right .top button{
     display: inline-block;
     background: transparent;
     cursor: pointer;
     color: var(--clr-dark);
     position: absolute;
     left: 1rem;

   }
   .right .recent_order{
    padding: 0 30px;
   }


}

/* Feedback grid styling */
 .feedback-grid, .product-grid, .addproduct-grid, .setting-grid, .order-group, .message-grid, .message-form, .vouchers-grid {
  margin: 20px;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70rem;
  padding: 1.5rem;
}

main .feedback-grid:hover{
  box-shadow: none;
}

.feedback-grid h2 {
  color: #333;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* Reports grid styling */
.reports-grid {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reports-grid h2 {
  color: #333;
  margin-bottom: 10px;
}

.reports-grid table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.reports-grid th, .reports-grid td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reports-grid th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.reports-grid tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* settings */


/* SELLER REGISTER */

.containerxd form .btnText {
  font-size: 14px;
  font-weight: 400;
}

form button:hover {
  background-color: #265df2;
}

form button i,
form .backBtn i {
  margin: 0 6px;
}

form .backBtn i {
  transform: rotate(180deg);
}

form .buttons {
  display: flex;
  align-items: center;
}

form .buttons button,
.backBtn {
  margin-right: 14px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.registerBtn {
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #0C0C0C;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.registerBtn:hover {
  background-color: #181616;
}


@media (max-width: 750px) {
  .containerxd form {
    overflow-y: scroll;
  }

  .containerxd form::-webkit-scrollbar {
    display: none;
  }

  form .fields .input-field {
    width: calc(100% / 2 - 15px);
    /* Adjusts to two columns for medium screens */
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
    /* Adjusts to full width for small screens */
  }
}


/* SELLER LOGIN*/

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.containersl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.containersl .registration {
  display: none;
}

#check:checked~.registration {
  display: block;
}

#check:checked~.login {
  display: none;
}

#check {
  display: none;
}

.containersl .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 42px;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  margin-bottom: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 14px;
  color: #0b004b;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button{
  color: #fff;
  background: #0C0C0C;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #181616;
}

.signup {
  font-size: 14px;
  text-align: center;
}

.signup label {
  color: #0f0092;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}

 /* Hide the arrows in most browsers */
 #no-arrows::-webkit-outer-spin-button,
 #no-arrows::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

/*PRODUCTS*/

.product-grid .deletebtn{
  background-color:crimson;
  color: var(--clr-white);
  width: 90px;
  height: 35px;
  border-radius: 5px;
}

.product-grid .deletebtn:hover{
  background-color: rgb(167, 3, 3);
}

.product-grid .editprd{
  background-color:var(--clr-button);
  color: var(--clr-white);
  width: 90px;
  height: 35px;
  border-radius: 5px;
}

.product-grid .editprd:hover{
  background-color: var(--clr-buton-hover);
}

 /*ADD PRODUCT*/
.addprd main input {
  height: 42px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}
.addprd main textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}

.addprd .grid-container{
  display: grid;
  grid-template-columns: 450px 470px;
  gap: 65px;
}

.addprd .image-upload-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.addprd .image-upload-box:hover {
  background-color: #f8f8f8;
}

.addprd .image-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.addprd .image-preview-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.addprd .upload-text {
  font-size: 14px;
  color: #888;
}

.addprd .img-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.addprd .container  {
  display: grid;
  width: 100%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto ;
  margin: 0 auto;
}

.addprd .right button, .message-form button{
  background-color: var(--clr-button);
  color: var(--clr-color-background);
  font-size: 12px;
  font-weight: 600;
  margin-top: 1.7rem;
  width: 8rem;
  height: 2.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.addprd .right button:hover, .message-form button:hover{
  background-color: var(--clr-buton-hover);
  transition: 0.4s;
}

.addprd .dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.addprd .dropdown button {
  width: 100%;
  padding: 10px;
  background-color:#ebeaea;
  color: var(--clr-dark);
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.addprd .dropdown button:after {
  content: '\25BC';
  float: right;
  margin-left: 10px;
}

.addprd .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.addprd .dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.addprd .dropdown-menu li:hover {
  background-color: #ddd;
}

.addprd .dropdown.active .dropdown-menu {
  display: block;
}

/*MESSAGES*/


.message-form input {
  height: 42px;
  width: 80%;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}
.message-form textarea {
  width: 80%;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}