@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
/*
Fonts:
- Poppins: 300, 400, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
	--primary-color: #ff6b6b;
	--secondary-color: #794afa;
	--secondary-dark-color: #226cda;

	--white-color: #fff;
	--light-bg-color: #f2f3f5;
	--light-text-color: #7c899a;
	--border-color: #e5e8ec;
	--dark-color: #0a021c;

	--font-small: 13px;
	--font-smaller: 11px;

	--percent100: 100%;
	--percent50: 50%;

	--fw3: 300;
	--fw5: 500;
	--fw6: 600;
	--fw7: 700;
	--fw8: 800;

	--trans-background-color: background-color 0.3s, color 0.3s;
	--trans-background: background-color 0.3s;
	--trans-color: color 0.3s;
}

* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--dark-color);
	background-color: var(--white-color);
	
}

a {
	text-decoration: none;
	color: black;
	-webkit-tap-highlight-color: transparent;
}

.navbar a {
    text-decoration: none;
	color: black;
}

.header-nav a {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

img {
	max-width: var(--percent100);
	vertical-align: middle;
}

strong {
	font-weight: var(--fw8);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::placeholder {
	font: inherit;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins";
	
}

h1 {
	font-size: calc(1.3em + 1vw);
	font-weight: var(--fw8);
	line-height: 1;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.2em;
	font-weight: var(--fw7);
}

h4 {
	font-size: 1em;
	font-weight: var(--fw6);
}


/* ---------------
 * REUSABLE SELECTOR
 * -------------- */

.container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 0.938em;
}

.column {
	margin-left: -0.938em;
	margin-right: -0.938em;
}

.column .row {
	padding: 0 0.938em;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexitem {
	display: flex;
	align-items: center;
}

.flexcol {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.flexcol h4{
	font-weight: bold;
}

.main-links a:hover {
	color: var(--secondary-color);
}

.second-links a:hover {
	color: var(--light-text-color);
}

.icon-small,
.icon-large {
	display: flex;
	align-items: center;
	padding: 0 0.25em;
	font-weight: normal;
}

.icon-small {
	font-size: 1.25em;
	margin-left: auto;
}

.icon-large {
	font-size: 1.75em;
	padding: 0 0.75em 0 0;
}

.mobile-hide {
	display: none;
}

.object-cover img {
	position: absolute;
	object-fit: cover;
	width: var(--percent100);
	height: var(--percent100);
	display: block;
}

.products .media {
	position: relative;
	flex-shrink: 0;
	overflow: hidden;
}

.primary-button,
.secondary-button,
.light-button {
	font-size: var(--font-small);
	padding: 0.9em 2em;
	height: auto;
	width: fit-content;
	border-radius: 2em;
	transition: var(--trans-background-color);
}

.primary-button {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.primary-button:hover {
	background-color: var(--dark-color);
}

.secondary-button {
	background-color: var(--secondary-dark-color);
	color: var(--white-color);
}

.secondary-button:hover {
	background-color: var(--light-bg-color);
	color: var(--secondary-dark-color);
}

.light-button {
	background-color: var(--light-bg-color);
}

.light-button:hover {
	background-color: var(--secondary-dark-color);
	color: var(--white-color);
}

.view-all {
	font-size: var(--font-small);
	display: flex;
	gap: 1em;
	transition: var(--trans-color);
}

.mini-text {
	font-size: var(--font-smaller);
	color: var(--light-text-color);
}

/* ---------------
 * ---- HEADER ----
 * -------------- */

:where(.off-canvas, header) li > a {
	display: flex;
	position: relative;
	line-height: inherit;
	transition: var(--trans-color);
}

/* ---- HEADER -----
 * a. Header Top ----
 * --------------- */

ader-top .wrapper {
	font-size: var(--font-small);
	font-weight: var(--fw3);
	justify-content: space-between;
	line-height: 42px;
}

.header-top .wrapper ul {
	gap: 2em;
}

.header-top li {
	position: relative;
}

.header-top ul ul {
	position: absolute;
	left: -1em;
	line-height: 2em;
	background-color: var(--white-color);
	border: 1px solid var(--border-color);
	z-index: 1;
	display: none;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
	padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li.current a {
	background-color: var(--border-color);
}

.header-top li:hover ul {
	display: block;
}

/* ---- HEADER -----
 * b. Header Nav ----
 * --------------- */

.header-nav {
	padding: 0.5em 0;
	margin-bottom: 1.5em;
	border-bottom: 1px solid var(--border-color);
	position: sticky;
    top: 0; /* Ensures the navbar sticks to the top of the viewport */
    z-index: 1000; /* Keeps the navbar above other elements */
    background-color: #fff; /* Ensure it has a visible background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.trigger {
	font-size: 1.5em;
	display: flex;
	padding: 0.25em;
	margin-right: 0.5em;
}


.logo a {
	font-family: "Poppins";
	font-size: 1.75em;
	position: relative;
	font-weight: var(--fw8);
	display: flex;
	padding-left: 0.75em;
	margin-right: 2em;
}

.circle {
	position: absolute;
	top: -15px;
	left: 0;
	width: 38px;
	height: 38px;
	border-radius: var(--percent50);
	background-color: var(--light-bg-color);
	z-index: -1;
}

.circle::before {
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: var(--percent50);
	background-color: var(--secondary-color);
	bottom: 5px;
	right: 5px;
	opacity: 0.4;
}

.header-nav nav > ul {
	line-height: 100px;
	gap: 2em;
}

.fly-item {
	position: absolute;
	height: 16px;
	font-size: var(--font-smaller);
	padding: 3px;
	text-align: center;
	line-height: 10px;
	color: var(--white-color);
}

nav .fly-item,
.header-nav .mini-cart .price .fly-item {
	top: 50%;
	margin-top: -24px;
	width: 32px;
	border-radius: 3px;
	right: -32px;
	background-color: var(--primary-color);
}

.header-nav .right {
	position: relative;
	margin-left: auto;
}

.header-nav .right .icon-large {
	position: relative;
}

.header-nav .right .fly-item {
	top: 0;
	right: 16px;
	width: 16px;
	background-color: var(--secondary-dark-color);
	border-radius: var(--percent50);
}

.mega .flexcol {
	flex: 1;
	min-width: 180px;
	padding-right: 2.5em;
	margin-bottom: 1.5em;
	z-index: 1;
}

/* ---- Header ----
 * c. Header Main
 * -----------------*/

.header-main {
	background-color: var(--secondary-dark-color);
	padding: 1.5em 0;
	margin-bottom: 2em;
}

.styled :where(input, select, textarea) {
	padding: 0.75em;
	outline: 0;
	background-color: var(--white-color);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: var(--border-color);
}

/* ----------------------
 * -----14. Modal------
 *--------------------- */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 600px;
	width: 90%;
	height: max-content;
	padding: 2em;
	margin: auto;
	text-align: center;
	background-color: var(--light-bg-color);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transform: translateY(20px);
	transition: transform 0.2s, visibility 0.2s, opacity 0.2s;
}

.showmodal .modal {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: transform 1s, visibility 1s, opacity 1s;
}

.modal .image {
	position: relative;
	height: calc(150px + 10vw);
	overflow: hidden;
	max-height: 400px;
	margin: -2em -2em 0 -2em;
}

.modal h2 {
	font-size: 1.75em;
	text-transform: uppercase;
	max-width: 300px;
	margin: 0.5em auto;
	line-height: 1;
}

.modal p {
	margin-bottom: 1em;
	color: var(--light-text-color);
}

.modal .t-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.backtotop a {
	justify-content: center;
	width: 4em;
	height: 4em;
	position: fixed;
	bottom: 4em;
	right: 6em;
	text-align: center;
	gap: 0;
	font-size: var(--font-small);
	padding-block-end: 0.5em 1em;
	border-radius: 50px;
	z-index: 999;
	background-color: var(--light-bg-color);
	transition: var(--trans-background-color);
}

.backtotop a:hover {
	background-color: var(--dark-color);
	color: var(--white-color);
	transition: 1s;
}

/* ----------------------
 * -----15. RESPONSIVE------
 *--------------------- */
@media screen and (min-width: 992px) {
	.container {
		padding: 0 2em;
	}

	.desktop-hide {
		display: none;
	}

	.mobile-hide {
		display: block;
	}

	.logo a {
		margin-right: 2em;
	}

	.header-nav {
		padding: 0;
		margin: 0;
		border-bottom: 0;
		position: sticky;
		top: 0; /* Ensures the navbar sticks to the top of the viewport */
		z-index: 1000; /* Keeps the navbar above other elements */
		background-color: #fff; /* Ensure it has a visible background */
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
	}

	.header-nav .right li > a {
		margin-left: 1em;
	}

	/* mega menu */
	nav .mega {
		position: absolute;
		width: var(--percent100);
		height: auto;
		top: auto;
		left: 0;
		right: 0;
		padding: 2.5em;
		line-height: 2em;
		background-color: var(--light-bg-color);
		box-shadow: rgb(0, 0, 0 / 20%) 0 30px 20px -30px;
		z-index: 100;

		display: none;
	}

	nav li.has-child:hover .mega {
		display: block;
	}

	nav .mega .wrapper {
		display: flex;
	}

	nav .mega h4 {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	nav .mega ul {
		font-size: var(--font-small);
	}

	nav .mega .women-brands {
		display: flex;
		flex-wrap: wrap;
		max-width: 180px;
	}

	nav .mega .women-brands li {
		min-width: 80px;
	}

	nav .mega .view-all {
		margin-top: 1em;
	}

	nav .mega .products {
		flex: 2;
		padding: 0;
		align-items: center;
		position: relative;
	}

	nav .mega .products .row {
		width: var(--percent100);
	}

	nav .mega .products .media {
		height: 400px;
	}

	nav .mega .products .text-content {
		line-height: initial;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
		margin-top: 0.5em;
		position: absolute;
		bottom: 4em;
		width: var(--percent100);
	}

	nav .mega .products .text-content h4 {
		font-size: 2em;
		font-weight: var(--fw8);
		text-align: center;
		color: var(--secondary-dark-color);
	}

	.header-main .right {
		max-width: 600px;
		margin-left: auto;
	}

}

#home{
	background-image: url("/static/assets/model1.png");
	width: 100%;
	height: 55vh;
	background-size: cover;
	background-position: top -20px center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#home span{
	color: #226cda;
}

button {
	font-size: 0.8rem;
	font-weight: 700;
	outline: none;
	border: none;
	background-color: #1d1d1d;
	color: aliceblue;
	padding: 13px 30px;
	text-transform: uppercase;
	transition: 0.3 ease;
}

button:hover{
	background-color: #3a3833;
}

.container1{
	padding-left: 100px;
	align-items: center;
}

/* featured */
/* featured */
.container2{
	padding: 1rem 2rem 1rem 2rem;
}

.card-img-container {
    width: 100%; 
    height: 150px; 
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container2 .card-img {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
	border-radius: 0;
}

.card-body {
    font-size: 15px;
    font-weight: 500; 
    line-height: 20px; 
    text-align: center; 
}


.text-dark {
    color: black !important;
}

.text-decoration-none {
    text-decoration: none !important; 
}

/* Product Carousel*/
.banner {
	background-image: url('your-left-banner-image-url.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	color: white;
	padding: 20px;
}

.banner h2 {
	font-weight: bold;
	margin-bottom: 15px;
}


/* Carousel card styling */
.product-card {
	text-align: center;
	padding: 15px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}

.product-card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.product-price {
	font-size: 18px;
	font-weight: bold;
}


/* Product */

.product{
	cursor: pointer;
	margin-bottom: 2rem;
	flex-grow: 1;
	flex-basis: 200;
}

.product img{
	transition: 0.3s all;
}

.product:hover img{
	opacity: 0.7;
}

  /* Flex container to align product cards */
  .product1-container {
	display: flex;
	justify-content: center; /* Align from left to right */
	flex-wrap: wrap; /* Wrap the cards if they overflow */
	gap: 40px; /* Add spacing between cards */
	margin-top: 40px;
  }

  /* Product card */
  .product1-card {
	width: 220px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	background: #fafafa;
  }

  .badge {
	position: absolute;
	left: 0;
	top: 12px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	background: red;
	color: #fff;
	padding: 2px 7px;
  }

  .product1-tumb {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
	background: #f0f0f0;
  }

  .product1-tumb img {
	max-width: 100%;
	max-height: 100%;
  }

  .product1-details {
	padding: 15px;
  }

  .product1-catagory {
	display: block;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 12px;
  }

  .product1-details h4 a {
	font-weight: 500;
	display: block;
	margin-bottom: 12px;
	text-transform: uppercase;
	color: #363636;
	text-decoration: none;
	transition: 0.3s;
  }

  .product1-details h4 a:hover {
	color: #fbb72c;
  }

  .product1-details p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	color: #999;
  }

  .product1-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 12px;
  }

  .product1-bottom-details div {
	float: left;
	width: 50%;
  }

  .product1-price {
	font-size: 14px;
	color: #080808;
	font-weight: 600;
  }

  .product1-price small {
	font-size: 70%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
  }

  .product1-links {
	text-align: right;
  }

  .product1-links a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 15px;
  }

  .product1-links a:hover {
	color: #fbb72c;
  }

  *
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*card*/
.card-container{
padding-top: 18px;
}

.carousel-container .card{
	width: 245px;
}

.cardbtn{padding: 0;}

/*CAROUSEL*/
.card-category h3{
	font-size: 18px;
}

.carousel-container{
	margin: 50px;
	margin-top: 0;
}

.carousel {
	margin: 50px auto;
	padding: 0 50px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 220px;
	width: 100%;
	position: relative;
}

.imgbtn{padding: 0;}

.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
}
.carousel .item h5 {
	margin: 10px 0;
}
.carousel .item .btn, .category .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    color: #fff;
	background: #232222;
	border-color: #000;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 28px;
    width: 100%;
}

.carousel .item .btn:hover, .category .btn:hover{
	background-color: rgb(255, 255, 255);
	color: #333;
    border: 1px solid #ccc;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}


.carousel .thumb-wrapper {
	padding: 0;
	text-align: left;
	margin-left: 50px;

}
.carousel .thumb-content {
	padding-top: 15px;
}
.carousel .carousel-control {
    width: 40px;
    margin: auto 0;
    background: rgb(255, 255, 255);
	bottom: 20%;
    border-radius: 20px;
    height: 40px;
    border: solid 1px black;
	
}
.carousel .carousel-control i{
    font-size: 20px;
    position: absolute;
    top: 60%;
    display: inline-block;
    margin: -14px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
    text-shadow: none;
}
.carousel .item-price, .carousel .thumb-content h6, .thumb-content span{
	font-size: 13px;
	padding: 1px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}

.carousel .item .desctxt{
	height: 42px;
	text-transform: uppercase;
}
.carousel .thumb-content h6{text-transform: uppercase;}

.carousel .desctxt a, .carousel p, .carousel h6{
	text-decoration: none;
	color: var(--dark-color);
}

.carousel .carousel-control.left i {
	margin-left: -3px;
}

.carousel .carousel-control.left i {
	margin-right: -3px;
}


/*footer*/
.footer-area{
    padding: 40px 0px;
    background-color:#132b50;
    color: #fff;
}
.category-footer{
	margin-top: 250px;
}
.footer-area a{
    text-decoration: none;
}
.footer-area .footer-mainheading{
    font-size: 24px;
    color: #fff;
	padding-bottom: 10px;
}
.footer-area .footer-heading{
    font-size: 19px;
    color: #fff;
	padding-bottom: 10px;
}
.footer-area .text-white, .footer-area p{
    font-size: 14px;
    color: #fff;
}
.footer-area .footer-underline{
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area{
    padding: 14px 0px;
    background-color: #262626;
}
.copyright-area p{
    margin-bottom: 0px;
    color: #fff;
}
.copyright-area .social-media{
    text-align: end;
}
.copyright-area .social-media a{
    margin: 0px 10px;
    color: #fff;
    width: 20px;
}

/*BUYER CATEGORY*/
/*sidebar*/
.category .sidebar a{
	text-decoration: none;
	color: black;
	font-weight: 500;
	font-size: 18px;
	padding: 0 8px 4px 55px;
	text-transform:capitalize;
}
.category .sidebar{
	height: 100%;
	z-index: 1;
	top: 0;
	position: sticky;
	overflow-x: hidden;
	padding-top: 15px;
}
.category .sidebar .ctgy-sdbr, .category .sidebar .var-dropdown{
	padding-top: 10px;
}
.category .ctgy-sdbr{
	width: 90%;
	display: flex;
	justify-content: left;
	text-align: left;
	padding: 0;
}
.category .ctgy-sdbr a{
	font-size: 16px;
	font-weight: var(--fw5);
}

/*dropdown*/
.category .sidebar .dropdown-btn{
	padding: 5px 8px 5px 55px;
	text-decoration: none;
	font-size: 17px;
	color: #000;
	font-weight: 500;
	display: block;
	border: none;
	border-top: solid rgba(160, 160, 160, 0.762) 0.5px;
	background: none;
	text-align: left;
	cursor: pointer;
}

.category .sidebar .dropdown-content{
	display: none;
	padding: 10px;
	transition: 0.8 ease;
}
.category .sidebar .dropdown-content a{
	font-size: 16px;
	color: #353535;
	text-transform: uppercase;
}
.category .dropdown-icon{
	float: right;
	padding: 5px 8px 5px 55px;
}
/*main*/
.category .img-box img{
	max-width: 250px;
	max-height: 250px;
}

.category .desctxt{
	height: 42px;
	text-transform: uppercase;
}

.category .desctxt h6{
	font-weight:normal;
	text-transform: uppercase;
}

.category .main{
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.category .thumb-wrapper{
	padding-bottom: 5rem;
}

/*POP UP ADDED TO CART*/
/* Styles for the cart notification */
.cart-popup {
	position: fixed;
	top: 10%;
	right: 10%;
	background-color: #28a745;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	z-index: 1000;
	opacity: 0;
	display: none;
	transition: opacity 0.5s ease;
}
